<header ng-show="userId !== ''">
  <h1>Retro</h1>
  <span>
    <span class="prime">
      <em class="fa fa-star"></em>
      Prime Directive
      <span>
        <blockquote>
          <p>
            Regardless of what we discover, we understand and truly believe that
            everyone did the best job they could, given what was known at the
            time, their skills and abilities, the resources available, and the
            situation at hand
          </p>
          <footer>In Project Retrospectives, Norm Kerth</footer>
        </blockquote>
      </span>
    </span>
    <a rel="noopener noreferrer" class="header-icon" target="_blank" href="https://bitbucket.org/softcrafts/retro-live"
      aria-label="Bitbucket repo"><em class="fa fa-bitbucket"></em></a>
    <button class="first" ng-click="modalService.openAddNewBoard(this)">
      New board
    </button>
    <button class="last" ng-show="boardId !== ''" ng-click="unselectBoard()">
      Select board
    </button>
    <button class="last" ng-click="signOutUser()">
      Sign out
    </button>
  </span>
</header>