header {
  display: block;
  width: 100%;
  min-height: 47px;
  box-sizing: border-box;
  padding-right: 15px;
  padding-left: 15px;
  color: white;
  background-color: $teal;
  border-bottom: 1px solid $lighter-gray;
  border-radius: 0;
  -webkit-tap-highlight-color: transparent;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;

  h1 {
    float: left;
    margin: 0;
    margin-top: 0.45em;
    font-family: "Roboto";
    font-size: 1.7em;
    line-height: 1em;
  }

  .header-icon {
    position: relative;
    top: 4px;
    margin-left: 0.5em;

    em {
      font-size: 1.6em;
    }

    &-desc {
      position: relative;
      top: -4px;
      right: -2px;
      float: none;
      padding: 0;
      margin: 0;
      margin-bottom: 3px;
      text-decoration: underline;
    }

    &:hover {
      color: $dark-blue;
    }
  }

  span {
    float: right;
    margin: 0.9em 0;
    font-size: 0.9em;
  }

  label {
    font-size: 14px;
  }

  .prime {
    float: none;
    margin-right: 10px;
    font-size: 14px;

    @media (max-width: 500px) {
      display: none;
    }

    span {
      position: absolute;
      z-index: 999;
      width: 300px;
      height: 130px;
      padding: 15px 20px;
      margin-top: 30px;
      margin-left: -222px;
      font-size: 13px;
      line-height: 1.3em;
      color: white;
      text-align: left;
      text-shadow: none;
      word-wrap: break-word;
      pointer-events: none;
      background-color: $darkest-gray;
      border-radius: 2px;
      opacity: 0;

      &::before {
        position: absolute;
        top: -15px;
        left: 162px;
        width: 0;
        height: 0;
        margin-top: 0;
        content: '';
        border-top: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 8px solid $darkest-gray;
        border-left: 8px solid transparent;
      }
    }

    &:hover {
      span {
        opacity: 1;
      }
    }

    em {
      margin-right: 4px;
      color: $yellow;
    }
  }
}
